<html>
	<head>
		<title>The Gossip Project</title>
	</head>
	<body>
	
		<h1>Mon super site de gossip, depuis le dossier views !</h1>
		<p>Bonjour cher visiteur.Tu aimes les potins? ne t inquiète pas 
		a liste des potins arrive bientot.En attendant, tu peux deja 
		<a href="/gossips/new/">aller créer un nouveau potin</a>
		pour les autres </p>
		
	</body>
</html>
